@model RabbitBreed

@{
    //Layout = "~/Views/Configure/LeftMenuAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBreeds</title>
</head>
<body>
    <div> 
        <p>Порода кролів</p>
        <p>
            @Html.ActionLink("Додати нову", "AddNewBreed", "Configure")
        </p>
        <table>
            @foreach (var b in ViewBag.Breed)
            {
                <tr>
                    <td>
                        <a href="/Configure/AddRelateBreedAndColor/@b.ID">@b.BreedName</a>
                    </td>

                </tr>
            }
        </table>
</div>
<div>
    <p>Окраси кролів</p>
    <p>
        @Html.ActionLink("Додати новий", "AddNewColor", "Configure")
    </p>

    <table>
        @foreach (var b in ViewBag.Color)
        {
            <tr>
                <td>
                    <label>
                        @b.ColorName
                    </label>
                </td>

            </tr>
        }
    </table>

</div>
    
</body>
</html>
