@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Голова асоціації Юрій Поляк <br />
    <img src="/img/Polak.jpg" style="height: 100 px; width: 480 px; "/> <br />
    вул. Жовтнева, 48<br />
    с. Минай<br />
    Ужгородського району<br />


    <abbr title="Phone">P:</abbr>
    +380-50-171-9671
</address>

