@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Асоціація кролівників Ужгородщини</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@if (Session["AdminIsOnline"] == "1")
{
    @Html.ActionLink("Додати новину", "AddNews", "Home")
}

<div class="row">
    @foreach (var n in ViewBag.News)
    {
    <div class="col-md-4">
        <h2>@n.Subject</h2>


        @if (n.Image != null)
    {

        var base64 = Convert.ToBase64String(n.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

        <img src='@imgSrc' style="max-width:300px; max-height:300px;" />
}
        <p>

            @Html.Raw(n.Body)
        </p>
        @n.CreatedDate


       

        @if (Session["AdminIsOnline"] == "1")
        {
            <a href="/Home/DeleteNews/@n.Id">Видалити новину</a>
        }
    </div>

    }
</div>